In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

from process_data import ProcessData, DataframeLabelEncoder

In [2]:
card_dev = pd.read_csv('data/card_dev.csv', sep=';')
loan_dev = pd.read_csv('data/loan_dev.csv', sep=';')
trans_dev = pd.read_csv('data/trans_dev.csv', sep=';')

card_comp = pd.read_csv('data/card_comp.csv', sep=';')
loan_comp = pd.read_csv('data/loan_comp.csv', sep=';')
trans_comp = pd.read_csv('data/trans_comp.csv', sep=';')

C:\Users\nrtc\AppData\Local\Temp\ipykernel_32740\2334429315.py:3: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  trans_dev = pd.read_csv('data/trans_dev.csv', sep=';')

In [3]:
train_pd = ProcessData(card_dev, loan_dev, trans_dev)
train_df = train_pd.transform()

In [4]:
test_pd = ProcessData(card_comp, loan_comp, trans_comp)
test_df = test_pd.transform()

In [5]:
train_df.columns

Index(['loan_id', 'date_loan', 'duration_loan', 'payments_loan', 'status',
       'account_district', 'account_frequency', 'account_date',
       'owner_district', 'owner_card_type', 'owner_card_issued',
       'disponent_district', 'disponent_card_type', 'disponent_card_issued',
       'count_trans_credits', 'count_trans_withdrawals',
       'count_trans_credit_cash', 'count_trans_withdrawal_cash',
       'count_trans_withdrawal_card', 'count_trans_collection_other_bank',
       'count_trans_remittance_other_bank',
       'count_trans_ksymbol_interest_credited',
       'count_trans_ksymbol_household',
       'count_trans_ksymbol_payment_for_statement',
       'count_trans_ksymbol_insurance_payment',
       'count_trans_ksymbol_sanction_interest_if_negative_balance',
       'count_trans_ksymbol_oldage_pension', 'last_trans_balance',
       'mean_trans_balance', 'mean_trans_amount_absolute',
       'mean_trans_amount_credit', 'mean_trans_amount_withdrawal',
       'mean_trans_amount_signed', 'owner_male', 'owner_birthdate',
       'disponent_male', 'disponent_birthdate'],
      dtype='object')

In [6]:
labelEncoder = DataframeLabelEncoder(train_df)
labelEncoder.fit()

In [7]:
train_df = labelEncoder.transform(train_df)
test_df = labelEncoder.transform(test_df)

In [8]:
# These columns will be used as the inputs of the models
input_cols = [
    'duration_loan', 
    'payments_loan', 
    'account_district', 
    'account_frequency', 
    'account_date', 
    'owner_male',
    'owner_birthdate',
    'owner_district', 
    'owner_card_type', 
    #'owner_card_issued',
    #'disponent_male',
    #'disponent_birthdate',
    #'disponent_district',
    #'disponent_card_type', 
    #'disponent_card_issued', 
    'count_trans_credits',
    'count_trans_withdrawals', 
    'count_trans_credit_cash',
    'count_trans_withdrawal_cash', 
    'count_trans_withdrawal_card',
    'count_trans_collection_other_bank',
    'count_trans_remittance_other_bank',
    'count_trans_ksymbol_interest_credited',
    'count_trans_ksymbol_household',
    'count_trans_ksymbol_payment_for_statement',
    'count_trans_ksymbol_insurance_payment',
    'count_trans_ksymbol_sanction_interest_if_negative_balance',
    'count_trans_ksymbol_oldage_pension', 
    #'last_trans_balance',
    #'mean_trans_balance', 
    #'mean_trans_amount_absolute',
    #'mean_trans_amount_credit', 
    #'mean_trans_amount_withdrawal',
    #'mean_trans_amount_signed'
    ]

# The output columns are the genres
output_cols = ['status']

In [9]:
train_df.columns

Index(['loan_id', 'date_loan', 'duration_loan', 'payments_loan', 'status',
       'account_district', 'account_frequency', 'account_date',
       'owner_district', 'owner_card_type', 'owner_card_issued',
       'disponent_district', 'disponent_card_type', 'disponent_card_issued',
       'count_trans_credits', 'count_trans_withdrawals',
       'count_trans_credit_cash', 'count_trans_withdrawal_cash',
       'count_trans_withdrawal_card', 'count_trans_collection_other_bank',
       'count_trans_remittance_other_bank',
       'count_trans_ksymbol_interest_credited',
       'count_trans_ksymbol_household',
       'count_trans_ksymbol_payment_for_statement',
       'count_trans_ksymbol_insurance_payment',
       'count_trans_ksymbol_sanction_interest_if_negative_balance',
       'count_trans_ksymbol_oldage_pension', 'last_trans_balance',
       'mean_trans_balance', 'mean_trans_amount_absolute',
       'mean_trans_amount_credit', 'mean_trans_amount_withdrawal',
       'mean_trans_amount_signed', 'owner_male', 'owner_birthdate',
       'disponent_male', 'disponent_birthdate'],
      dtype='object')

In [10]:
train_df.head()

,loan_id,date_loan,duration_loan,payments_loan,status,account_district,account_frequency,account_date,owner_district,owner_card_type,...,last_trans_balance,mean_trans_balance,mean_trans_amount_absolute,mean_trans_amount_credit,mean_trans_amount_withdrawal,mean_trans_amount_signed,owner_male,owner_birthdate,disponent_male,disponent_birthdate
0,5314,930705,12,8033,1,30,2,930322,30,3,...,20100.0,12250.000000,5025.000000,5025.000000,NaN,5025.000000,0,470722,NaN,NaN
1,5316,930711,36,4610,0,46,1,930213,46,3,...,52208.9,52083.859459,11015.635135,13523.158824,8884.24,1411.051351,1,680722,NaN,NaN
2,6863,930728,60,2118,0,45,1,930208,45,3,...,20272.8,30060.954167,5417.458333,5009.733333,6097.00,844.708333,1,360602,NaN,NaN
3,5325,930803,36,2939,0,12,1,930130,14,3,...,34307.3,41297.480000,8253.080000,9254.600000,7168.10,1371.704000,0,400420,NaN,NaN
4,7240,930906,60,4579,0,1,2,930214,63,3,...,41112.9,57188.211111,18945.966667,21255.930769,16801.00,1522.707407,1,780907,NaN,NaN

In [11]:
def calc_pred(model):
    print(input_cols)
    print(train_df.columns)
    inputs = train_df[input_cols].values
    classes = train_df[output_cols].values
    resclf = model.fit(inputs, classes)
    return resclf.predict(test_df[input_cols].values)

In [33]:
def save_model_results(name, results):
    pred = pd.DataFrame(results, columns=['status'])
    sub = pd.concat([test_df.loan_id,pred],axis=1)
    sub.rename(columns={"loan_id": "Id", "status": "Predicted"}, inplace=True)
    sub.set_index('Id',inplace=True)
    sub.to_csv(f'{name}.csv')

### Decision Tree

Best params for DecisionTreeClassifier: 
```json
{
    'splitter': 'best',
    'min_samples_split': 6,
    'min_samples_leaf': 5,
    'max_features': 6,
    'max_depth': 41,
    'criterion': 'gini'
}
```

In [12]:
model = DecisionTreeClassifier(splitter='best', min_samples_split=6, min_samples_leaf=5, max_features=6, max_depth=41, criterion='gini')

In [13]:
res = calc_pred(model)

['duration_loan', 'payments_loan', 'account_district', 'account_frequency', 'account_date', 'owner_male', 'owner_birthdate', 'owner_district', 'owner_card_type', 'count_trans_credits', 'count_trans_withdrawals', 'count_trans_credit_cash', 'count_trans_withdrawal_cash', 'count_trans_withdrawal_card', 'count_trans_collection_other_bank', 'count_trans_remittance_other_bank', 'count_trans_ksymbol_interest_credited', 'count_trans_ksymbol_household', 'count_trans_ksymbol_payment_for_statement', 'count_trans_ksymbol_insurance_payment', 'count_trans_ksymbol_sanction_interest_if_negative_balance', 'count_trans_ksymbol_oldage_pension']
Index(['loan_id', 'date_loan', 'duration_loan', 'payments_loan', 'status',
       'account_district', 'account_frequency', 'account_date',
       'owner_district', 'owner_card_type', 'owner_card_issued',
       'disponent_district', 'disponent_card_type', 'disponent_card_issued',
       'count_trans_credits', 'count_trans_withdrawals',
       'count_trans_credit_cash', 'count_trans_withdrawal_cash',
       'count_trans_withdrawal_card', 'count_trans_collection_other_bank',
       'count_trans_remittance_other_bank',
       'count_trans_ksymbol_interest_credited',
       'count_trans_ksymbol_household',
       'count_trans_ksymbol_payment_for_statement',
       'count_trans_ksymbol_insurance_payment',
       'count_trans_ksymbol_sanction_interest_if_negative_balance',
       'count_trans_ksymbol_oldage_pension', 'last_trans_balance',
       'mean_trans_balance', 'mean_trans_amount_absolute',
       'mean_trans_amount_credit', 'mean_trans_amount_withdrawal',
       'mean_trans_amount_signed', 'owner_male', 'owner_birthdate',
       'disponent_male', 'disponent_birthdate'],
      dtype='object')

In [34]:
save_model_results('decision_tree_pred', res)