In [1]:
import os
import uuid
import numpy as np 
import pandas as pd
#import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
# This is used in order to show the plotted figures within this notebook
%matplotlib inline 
# This is used in order to show the tensorboard within this notebook             
#%load_ext tensorboard  
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.preprocessing import LabelEncoder, StandardScaler
from collections import Counter
from math import ceil
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split, RandomizedSearchCV, GridSearchCV, TimeSeriesSplit
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, plot_roc_curve
from sklearn.model_selection import learning_curve
from sklearn.multioutput import MultiOutputClassifier
from imblearn.combine import SMOTETomek
from imblearn.under_sampling import TomekLinks
from evaluate import run
import datetime

In [2]:
data = pd.read_csv('output/loan_dev.csv')
data

,Id,loan_date,loan_duration,loan_payments,Predicted,account_frequency,account_district_region,account_district_no_inhabitants,account_district_no_municipalities_0_499,account_district_no_municipalities_500_1999,...,last_trans_balance,mean_trans_balance,mean_trans_amount_absolute,mean_trans_amount_credit,mean_trans_amount_withdrawal,mean_trans_amount_signed,owner_male,owner_age,account_age_months,has_disponent
0,5314,930705,12,8033,1.0,1,7,94812,15,13,...,20100.0,12250.000000,5025.000000,5025.000000,NaN,5025.000000,0,45,3,0
1,5316,930711,36,4610,0.0,2,3,112709,48,20,...,52208.9,52083.859459,11015.635135,13523.158824,8884.240000,1411.051351,1,24,4,0
2,6863,930728,60,2118,0.0,2,3,77917,85,19,...,20272.8,30060.954167,5417.458333,5009.733333,6097.000000,844.708333,1,57,5,0
3,5325,930803,36,2939,0.0,2,2,107870,84,29,...,34307.3,41297.480000,8253.080000,9254.600000,7168.100000,1371.704000,0,53,6,0
4,7240,930906,60,4579,0.0,1,4,1204953,0,0,...,41112.9,57188.211111,18945.966667,21255.930769,16801.000000,1522.707407,1,14,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,6818,961212,48,3242,0.0,2,1,226122,32,50,...,60694.1,44197.509884,4895.974419,6448.582857,3830.458824,352.872093,0,25,22,1
324,5625,961215,60,3703,1.0,2,7,45714,52,10,...,59578.8,55230.444068,11725.494915,13417.557143,10197.180645,1009.813559,1,57,12,0
325,6805,961221,48,938,0.0,2,1,285387,0,2,...,38384.3,41994.907692,7779.815385,8544.930000,6974.431579,984.215385,0,39,7,0
326,7233,961225,36,3217,0.0,2,6,93931,74,21,...,41878.1,56646.516129,13280.084677,16554.986275,10992.139726,337.726613,1,43,19,0
327,7308,961227,24,5392,0.0,2,1,106054,38,25,...,24199.5,30869.781308,4550.302804,8811.758621,2965.915385,226.164486,0,34,14,0

# Manual Outlier Detection

-

In [7]:
for col in data.columns:
    print("-"*50)
    print(f"Statistics of {col}")
    print("-"*50)
    #data[col].plot.box();

    q3, q1 = np.percentile(data[col], [75 ,25])

    print("Min: ", end="");                 print(data[col].min())
    print("Max: ", end="");                 print(data[col].max())
    print("Mean: ", end="");                print(data[col].mean())
    print("Median: ", end="");              print(data[col].median())
    print("Standard deviation: ", end="");  print(data[col].std())
    print("Skewness: ", end="");            print(data[col].skew())  
    print("Variance: ", end="");            print(data[col].var())
    print("Kurtosis: ", end="");            print(data[col].kurtosis())
    print("Interquartile Range: ", end=""); print(q3 - q1, end=" | "); print("Q1: {} | Q3: {}".format(q1,q3))

# var() method returns the unbiased variance
# Medium-High std which indicates that the data is spread out and not clustered around the mean
# Skewness > 1 => it is skewed to the right

--------------------------------------------------
Statistics of Id
--------------------------------------------------
Min: 4959
Max: 7308
Mean: 6205.658536585366
Median: 6227.5
Standard deviation: 667.985674726219
Skewness: -0.126359735421936
Variance: 446204.86163944204
Kurtosis: -1.168537695082133
Interquartile Range: 1133.0 | Q1: 5604.25 | Q3: 6737.25
--------------------------------------------------
Statistics of loan_date
--------------------------------------------------
Min: 930705
Max: 961227
Mean: 949989.125
Median: 950565.5
Standard deviation: 9495.504646353156
Skewness: -0.2574182118951275
Variance: 90164608.48891437
Kurtosis: -1.1466194893417647
Interquartile Range: 19716.0 | Q1: 940809.25 | Q3: 960525.25
--------------------------------------------------
Statistics of loan_duration
--------------------------------------------------
Min: 12
Max: 60
Mean: 35.853658536585364
Median: 36.0
Standard deviation: 16.73475166172723
Skewness: 0.05589223008522359
Variance: 280.0519131796823
Kurtosis: -1.267191280387405
Interquartile Range: 24.0 | Q1: 24.0 | Q3: 48.0
--------------------------------------------------
Statistics of loan_payments
--------------------------------------------------
Min: 319
Max: 9689
Mean: 4150.932926829269
Median: 3878.5
Standard deviation: 2193.620988539039
Skewness: 0.26933938573516064
Variance: 4811973.0413589915
Kurtosis: -0.8465605235895723
Interquartile Range: 3539.0 | Q1: 2368.75 | Q3: 5907.75
--------------------------------------------------
Statistics of Predicted
--------------------------------------------------
Min: 0.0
Max: 1.0
Mean: 0.1402439024390244
Median: 0.0
Standard deviation: 0.3477704456064715
Skewness: 2.0816213381952395
Variance: 0.12094428283732378
Kurtosis: 2.3474239284321956
Interquartile Range: 0.0 | Q1: 0.0 | Q3: 0.0
--------------------------------------------------
Statistics of account_frequency
--------------------------------------------------
Min: 0
Max: 2
Mean: 1.7347560975609757
Median: 2.0
Standard deviation: 0.5527904760035754
Skewness: -1.992102848776567
Variance: 0.30557731036025954
Kurtosis: 2.948430966811482
Interquartile Range: 0.0 | Q1: 2.0 | Q3: 2.0
--------------------------------------------------
Statistics of account_district_region
--------------------------------------------------
Min: 0
Max: 7
Mean: 2.951219512195122
Median: 3.0
Standard deviation: 2.3115317294764783
Skewness: 0.2869188721277375
Variance: 5.343178936376519
Kurtosis: -1.1604025800414484
Interquartile Range: 4.0 | Q1: 1.0 | Q3: 5.0
--------------------------------------------------
Statistics of account_district_no_inhabitants
--------------------------------------------------
Min: 42821
Max: 1204953
Mean: 288846.6981707317
Median: 125236.0
Standard deviation: 377966.15558948147
Skewness: 1.9275643050143922
Variance: 142858414771.0921
Kurtosis: 1.9645163409272448
Interquartile Range: 134719.5 | Q1: 92084.0 | Q3: 226803.5
--------------------------------------------------
Statistics of account_district_no_municipalities_0_499
--------------------------------------------------
Min: 0
Max: 151
Mean: 39.24085365853659
Median: 34.0
Standard deviation: 34.85013667376864
Skewness: 0.8336320112638349
Variance: 1214.5320261803536
Kurtosis: 0.5133208170929939
Interquartile Range: 58.0 | Q1: 5.0 | Q3: 63.0
--------------------------------------------------
Statistics of account_district_no_municipalities_500_1999
--------------------------------------------------
Min: 0
Max: 70
Mean: 21.698170731707318
Median: 23.0
Standard deviation: 16.369876012977056
Skewness: 0.2924596747085019
Variance: 267.97284068024163
Kurtosis: -0.4387791204903633
Interquartile Range: 28.0 | Q1: 7.0 | Q3: 35.0
--------------------------------------------------
Statistics of account_district_no_municipalities_2000_9999
--------------------------------------------------
Min: 0
Max: 20
Mean: 5.432926829268292
Median: 5.0
Standard deviation: 4.441438312314091
Skewness: 0.8556854929742539
Variance: 19.72637428209144
Kurtosis: 0.7722079693016459
Interquartile Range: 6.0 | Q1: 2.0 | Q3: 8.0
--------------------------------------------------
Statistics of account_district_no_municipalities_10000_plus
--------------------------------------------------
Min: 0
Max: 5
Mean: 1.649390243902439
Median: 1.0
Standard deviation: 1.0704251606786939
Skewness: 1.217285588191101
Variance: 1.1458100246140075
Kurtosis: 1.3523008239536378
Interquartile Range: 1.0 | Q1: 1.0 | Q3: 2.0
--------------------------------------------------
Statistics of account_district_no_cities
--------------------------------------------------
Min: 1
Max: 11
Mean: 5.219512195121951
Median: 5.0
Standard deviation: 2.8863249873450734
Skewness: -0.011958016794837923
Variance: 8.330871932572538
Kurtosis: -0.9696877864885027
Interquartile Range: 3.0 | Q1: 4.0 | Q3: 7.0
--------------------------------------------------
Statistics of account_district_ratio_urban_inhabitants
--------------------------------------------------
Min: 0.3389999999999999
Max: 1.0
Mean: 0.6864939024390244
Median: 0.62
Standard deviation: 0.20573454577834133
Skewness: 0.34076282492223164
Variance: 0.042326703326620425
Kurtosis: -1.1662927154161018
Interquartile Range: 0.35250000000000004 | Q1: 0.53 | Q3: 0.8825000000000001
--------------------------------------------------
Statistics of account_district_average_salary
--------------------------------------------------
Min: 8110
Max: 12541
Mean: 9593.338414634147
Median: 9019.5
Standard deviation: 1359.2325765121705
Skewness: 1.2456934836516622
Variance: 1847513.197051913
Kurtosis: 0.3720189164351839
Interquartile Range: 1399.0 | Q1: 8552.25 | Q3: 9951.25
--------------------------------------------------
Statistics of account_district_unemployment_rate_95
--------------------------------------------------
Min: 0.0029
Max: 0.0733999999999999
Mean: 0.02853347641206674
Median: 0.0277
Standard deviation: 0.019332737993397738
Skewness: 0.5215025631294236
Variance: 0.0003737547583213644
Kurtosis: -0.5054389350630788
Interquartile Range: 0.0243000000000001 | Q1: 0.0141999999999999 | Q3: 0.0385
--------------------------------------------------
Statistics of account_district_unemployment_rate_96
--------------------------------------------------
Min: 0.0043
Max: 0.094
Mean: 0.034744512195121945
Median: 0.0349
Standard deviation: 0.022119723588389668
Skewness: 0.47530237148558613
Variance: 0.0004892821716267622
Kurtosis: -0.322515402766959
Interquartile Range: 0.0293 | Q1: 0.0186 | Q3: 0.0479
--------------------------------------------------
Statistics of account_district_no_enterpreneurs_per_1000_inhabitants
--------------------------------------------------
Min: 0.081
Max: 0.167
Mean: 0.12275914634146341
Median: 0.1155
Standard deviation: 0.023951657004791023
Skewness: 0.5916848426357398
Variance: 0.0005736818732751549
Kurtosis: -0.6495980694707733
Interquartile Range: 0.033000000000000015 | Q1: 0.107 | Q3: 0.14
--------------------------------------------------
Statistics of account_district_no_crimes_95
--------------------------------------------------
Min: 0.0135427074613161
Max: 0.0711040181650238
Mean: 0.03621356742429535
Median: 0.0309020174253366
Standard deviation: 0.01762627496810436
Skewness: 0.8940653066788895
Variance: 0.00031068556925122244
Kurtosis: -0.4212049047791795
Interquartile Range: 0.023320214085330228 | Q1: 0.0221243948701978 | Q3: 0.04544460895552803
--------------------------------------------------
Statistics of account_district_no_crimes_96
--------------------------------------------------
Min: 0.0159460992141719
Max: 0.0822496811078938
Mean: 0.038366981963931956
Median: 0.0326373594528804
Standard deviation: 0.02042436272361666
Skewness: 1.195236917440319
Variance: 0.0004171545926658618
Kurtosis: 0.272805277408521
Interquartile Range: 0.024829921250401604 | Q1: 0.0218271381253007 | Q3: 0.0466570593757023
--------------------------------------------------
Statistics of owner_card_type
--------------------------------------------------
Min: 0
Max: 3
Mean: 0.04878048780487805
Median: 0.0
Standard deviation: 0.2989252522071375
Skewness: 7.56646175120554
Variance: 0.08935630640710077
Kurtosis: 64.36676840493134
Interquartile Range: 0.0 | Q1: 0.0 | Q3: 0.0
--------------------------------------------------
Statistics of owner_district_region
--------------------------------------------------
Min: 0
Max: 7
Mean: 2.9115853658536586
Median: 3.0
Standard deviation: 2.3268384764402272
Skewness: 0.2996346679662918
Variance: 5.414177295442678
Kurtosis: -1.176324234067887
Interquartile Range: 4.0 | Q1: 1.0 | Q3: 5.0
--------------------------------------------------
Statistics of owner_district_no_inhabitants
--------------------------------------------------
Min: 42821
Max: 1204953
Mean: 271781.0518292683
Median: 123604.0
Standard deviation: 360892.7407386912
Skewness: 2.10306254009277
Variance: 130243570317.88417
Kurtosis: 2.722175093652712
Interquartile Range: 137238.0 | Q1: 88884.0 | Q3: 226122.0
--------------------------------------------------
Statistics of owner_district_no_municipalities_0_499
--------------------------------------------------
Min: 0
Max: 151
Mean: 40.4390243902439
Median: 34.0
Standard deviation: 34.82006084970825
Skewness: 0.7991391184788169
Variance: 1212.436637577385
Kurtosis: 0.45471527285764335
Interquartile Range: 55.5 | Q1: 8.0 | Q3: 63.5
--------------------------------------------------
Statistics of owner_district_no_municipalities_500_1999
--------------------------------------------------
Min: 0
Max: 70
Mean: 22.04268292682927
Median: 22.0
Standard deviation: 16.390439000808318
Skewness: 0.3459373045710274
Variance: 268.6464906392183
Kurtosis: -0.282458537230597
Interquartile Range: 25.25 | Q1: 10.0 | Q3: 35.25
--------------------------------------------------
Statistics of owner_district_no_municipalities_2000_9999
--------------------------------------------------
Min: 0
Max: 20
Mean: 5.615853658536586
Median: 5.0
Standard deviation: 4.497229035062502
Skewness: 0.9276375616077919
Variance: 20.225068993809202
Kurtosis: 1.032204631870369
Interquartile Range: 5.0 | Q1: 3.0 | Q3: 8.0
--------------------------------------------------
Statistics of owner_district_no_municipalities_10000_plus
--------------------------------------------------
Min: 0
Max: 5
Mean: 1.673780487804878
Median: 1.0
Standard deviation: 1.092222311884515
Skewness: 1.1716388401327196
Variance: 1.1929495785783546
Kurtosis: 1.1561680259186056
Interquartile Range: 1.0 | Q1: 1.0 | Q3: 2.0
--------------------------------------------------
Statistics of owner_district_no_cities
--------------------------------------------------
Min: 1
Max: 11
Mean: 5.301829268292683
Median: 5.0
Standard deviation: 2.8655492999307146
Skewness: -0.004885489702675453
Variance: 8.211372790333408
Kurtosis: -0.9115689698877913
Interquartile Range: 3.0 | Q1: 4.0 | Q3: 7.0
--------------------------------------------------
Statistics of owner_district_ratio_urban_inhabitants
--------------------------------------------------
Min: 0.3389999999999999
Max: 1.0
Mean: 0.6792378048780487
Median: 0.619
Standard deviation: 0.20264335320212593
Skewness: 0.38369035776606386
Variance: 0.04106432859700156
Kurtosis: -1.0825587351672665
Interquartile Range: 0.32824999999999993 | Q1: 0.527 | Q3: 0.85525
--------------------------------------------------
Statistics of owner_district_average_salary
--------------------------------------------------
Min: 8110
Max: 12541
Mean: 9523.149390243903
Median: 8994.0
Standard deviation: 1319.5251482097783
Skewness: 1.3374941120938677
Variance: 1741146.6167580371
Kurtosis: 0.6971647454885592
Interquartile Range: 1350.75 | Q1: 8546.25 | Q3: 9897.0
--------------------------------------------------
Statistics of owner_district_unemployment_rate_95
--------------------------------------------------
Min: 0.0029
Max: 0.0733999999999999
Mean: 0.02883378129011552
Median: 0.0277
Standard deviation: 0.01898547014745599
Skewness: 0.5460146521601155
Variance: 0.00036044807671994255
Kurtosis: -0.37969268269309087
Interquartile Range: 0.02325 | Q1: 0.0151 | Q3: 0.03835
--------------------------------------------------
Statistics of owner_district_unemployment_rate_96
--------------------------------------------------
Min: 0.0043
Max: 0.094
Mean: 0.035226219512195116
Median: 0.0349
Standard deviation: 0.022000776641295385
Skewness: 0.5199169308730932
Variance: 0.00048403417282016865
Kurtosis: -0.20275542288297554
Interquartile Range: 0.0283 | Q1: 0.0196 | Q3: 0.0479
--------------------------------------------------
Statistics of owner_district_no_enterpreneurs_per_1000_inhabitants
--------------------------------------------------
Min: 0.081
Max: 0.167
Mean: 0.1214420731707317
Median: 0.115
Standard deviation: 0.023279638922229225
Skewness: 0.6788818744308174
Variance: 0.0005419415883493699
Kurtosis: -0.4108655973992206
Interquartile Range: 0.02800000000000001 | Q1: 0.107 | Q3: 0.135
--------------------------------------------------
Statistics of owner_district_no_crimes_95
--------------------------------------------------
Min: 0.0135427074613161
Max: 0.0711040181650238
Mean: 0.035116653297333836
Median: 0.0296174032380705
Standard deviation: 0.017170898846180564
Skewness: 1.0052306928294088
Variance: 0.000294839767185765
Kurtosis: -0.14680944072396018
Interquartile Range: 0.020648975257432402 | Q1: 0.0221243948701978 | Q3: 0.0427733701276302
--------------------------------------------------
Statistics of owner_district_no_crimes_96
--------------------------------------------------
Min: 0.0159460992141719
Max: 0.0822496811078938
Mean: 0.037066694561261916
Median: 0.031753626839312696
Standard deviation: 0.019802446873676317
Skewness: 1.3203077555788076
Variance: 0.000392136902184773
Kurtosis: 0.6737856391737083
Interquartile Range: 0.021181597386880798 | Q1: 0.0218271381253007 | Q3: 0.0430087355121815
--------------------------------------------------
Statistics of count_trans_credits
--------------------------------------------------
Min: 4
Max: 84
Mean: 30.414634146341463
Median: 28.0
Standard deviation: 15.427804614313203
Skewness: 0.7386068609856693
Variance: 238.01715521742375
Kurtosis: 0.26191588518991793
Interquartile Range: 21.25 | Q1: 18.75 | Q3: 40.0
--------------------------------------------------
Statistics of count_trans_withdrawals
--------------------------------------------------
Min: 0
Max: 141
Mean: 44.26219512195122
Median: 40.0
Standard deviation: 31.056299435319808
Skewness: 0.7157189983121098
Variance: 964.4937346162453
Kurtosis: -0.07824346978251606
Interquartile Range: 42.25 | Q1: 20.0 | Q3: 62.25
--------------------------------------------------
Statistics of count_trans_credit_cash
--------------------------------------------------
Min: 1
Max: 50
Mean: 13.737804878048781
Median: 12.0
Standard deviation: 11.178213194092136
Skewness: 0.818497189915036
Variance: 124.95245021257551
Kurtosis: 0.17760961845172663
Interquartile Range: 18.0 | Q1: 3.0 | Q3: 21.0
--------------------------------------------------
Statistics of count_trans_withdrawal_cash
--------------------------------------------------
Min: 0
Max: 101
Mean: 34.94512195121951
Median: 32.0
Standard deviation: 22.5406877912208
Skewness: 0.44128585919905766
Variance: 508.0826061012904
Kurtosis: -0.5225925292210509
Interquartile Range: 35.0 | Q1: 16.0 | Q3: 51.0
--------------------------------------------------
Statistics of count_trans_withdrawal_card
--------------------------------------------------
Min: 0
Max: 8
Mean: 0.0701219512195122
Median: 0.0
Standard deviation: 0.5888546783181915
Skewness: 10.473461059169317
Variance: 0.34674983217722083
Kurtosis: 121.64663817445185
Interquartile Range: 0.0 | Q1: 0.0 | Q3: 0.0
--------------------------------------------------
Statistics of count_trans_collection_other_bank
--------------------------------------------------
Min: 0
Max: 23
Mean: 3.472560975609756
Median: 0.0
Standard deviation: 6.109538601471972
Skewness: 1.6112200531390486
Variance: 37.326461922876106
Kurtosis: 1.370133378056972
Interquartile Range: 6.0 | Q1: 0.0 | Q3: 6.0
--------------------------------------------------
Statistics of count_trans_remittance_other_bank
--------------------------------------------------
Min: 0
Max: 68
Mean: 9.246951219512194
Median: 4.0
Standard deviation: 13.41857275018649
Skewness: 1.8318865703013436
Variance: 180.05809465204743
Kurtosis: 3.121802747045854
Interquartile Range: 12.0 | Q1: 0.0 | Q3: 12.0
--------------------------------------------------
Statistics of count_trans_ksymbol_interest_credited
--------------------------------------------------
Min: 0
Max: 57
Mean: 13.204268292682928
Median: 12.0
Standard deviation: 7.773418602637813
Skewness: 1.6036567399989492
Variance: 60.42603677183561
Kurtosis: 4.502499090784617
Interquartile Range: 9.0 | Q1: 8.0 | Q3: 17.0
--------------------------------------------------
Statistics of count_trans_ksymbol_household
--------------------------------------------------
Min: 0
Max: 22
Mean: 5.2560975609756095
Median: 4.0
Standard deviation: 5.841035842135124
Skewness: 0.8262871239747864
Variance: 34.11769970910718
Kurtosis: -0.5314107304037647
Interquartile Range: 9.0 | Q1: 0.0 | Q3: 9.0
--------------------------------------------------
Statistics of count_trans_ksymbol_payment_for_statement
--------------------------------------------------
Min: 0
Max: 22
Mean: 7.7073170731707314
Median: 7.0
Standard deviation: 5.431785047694352
Skewness: 0.3241873351115072
Variance: 29.504288804355934
Kurtosis: -0.7784529339255832
Interquartile Range: 9.0 | Q1: 3.0 | Q3: 12.0
--------------------------------------------------
Statistics of count_trans_ksymbol_insurance_payment
--------------------------------------------------
Min: 0
Max: 0
Mean: 0.0
Median: 0.0
Standard deviation: 0.0
Skewness: 0
Variance: 0.0
Kurtosis: 0
Interquartile Range: 0.0 | Q1: 0.0 | Q3: 0.0
--------------------------------------------------
Statistics of count_trans_ksymbol_sanction_interest_if_negative_balance
--------------------------------------------------
Min: 0
Max: 6
Mean: 0.11585365853658537
Median: 0.0
Standard deviation: 0.6626735788430576
Skewness: 6.910492158911952
Variance: 0.439136272096666
Kurtosis: 51.460523790287205
Interquartile Range: 0.0 | Q1: 0.0 | Q3: 0.0
--------------------------------------------------
Statistics of count_trans_ksymbol_oldage_pension
--------------------------------------------------
Min: 0
Max: 0
Mean: 0.0
Median: 0.0
Standard deviation: 0.0
Skewness: 0
Variance: 0.0
Kurtosis: 0
Interquartile Range: 0.0 | Q1: 0.0 | Q3: 0.0
--------------------------------------------------
Statistics of last_trans_balance
--------------------------------------------------
Min: 3609.3
Max: 132316.8
Mean: 42185.58262195121
Median: 38269.2
Standard deviation: 22538.574663528718
Skewness: 1.2063376537364485
Variance: 507987347.8634586
Kurtosis: 1.6746457864615771
Interquartile Range: 27209.475000000002 | Q1: 25133.925 | Q3: 52343.4
--------------------------------------------------
Statistics of mean_trans_balance
--------------------------------------------------
Min: 12250.0
Max: 76232.70000000001
Mean: 43292.897144848146
Median: 42183.60017942583
Standard deviation: 13280.435503909646
Skewness: 0.2339246346962322
Variance: 176369967.17350388
Kurtosis: -0.7022090368578726
Interquartile Range: 20420.41884573485 | Q1: 32592.166018518517 | Q3: 53012.58486425337
--------------------------------------------------
Statistics of mean_trans_amount_absolute
--------------------------------------------------
Min: 1577.4938144329897
Max: 24948.65625
Mean: 9533.910833232612
Median: 9058.371033314512
Standard deviation: 4221.392649222007
Skewness: 0.43654061742911826
Variance: 17820155.898905594
Kurtosis: -0.1450697173276776
Interquartile Range: 6406.212024146022 | Q1: 6281.672789651293 | Q3: 12687.884813797315
--------------------------------------------------
Statistics of mean_trans_amount_credit
--------------------------------------------------

In [22]:
outliers = {}
for col in data.columns:
    data_mean, data_std = data[col].mean(), data[col].std()
    # identify outliers
    cut_off = data_std * 3
    lower, upper = data_mean - cut_off, data_mean + cut_off 
    outliers[col] = pd.concat([data.loc[data[col] < lower] , (data.loc[data[col] > upper])])

for key in outliers.keys():
    if (len(outliers[key]) > 0):
        print("-"*50)
        print(f"Outliers of {key} - mean: {data[key].mean()} - std: {data[key].std()}")
        print("-"*50)
        print(outliers[key][key])

--------------------------------------------------
Outliers of account_frequency - mean: 1.7347560975609757 - std: 0.5527904760035754
--------------------------------------------------
14     0
15     0
28     0
43     0
61     0
70     0
111    0
160    0
172    0
196    0
197    0
207    0
220    0
251    0
277    0
307    0
321    0
322    0
Name: account_frequency, dtype: int64
--------------------------------------------------
Outliers of account_district_no_municipalities_0_499 - mean: 39.24085365853659 - std: 34.85013667376864
--------------------------------------------------
52     151
54     151
86     151
171    151
248    151
Name: account_district_no_municipalities_0_499, dtype: int64
--------------------------------------------------
Outliers of account_district_no_municipalities_2000_9999 - mean: 5.432926829268292 - std: 4.441438312314091
--------------------------------------------------
112    20
Name: account_district_no_municipalities_2000_9999, dtype: int64
--------------------------------------------------
Outliers of account_district_no_municipalities_10000_plus - mean: 1.649390243902439 - std: 1.0704251606786939
--------------------------------------------------
104    5
145    5
216    5
230    5
238    5
241    5
303    5
304    5
325    5
Name: account_district_no_municipalities_10000_plus, dtype: int64
--------------------------------------------------
Outliers of owner_card_type - mean: 0.04878048780487805 - std: 0.2989252522071375
--------------------------------------------------
33     1
88     1
201    1
211    2
244    1
252    1
263    1
271    1
276    1
321    3
322    3
Name: owner_card_type, dtype: int64
--------------------------------------------------
Outliers of owner_district_no_municipalities_0_499 - mean: 40.4390243902439 - std: 34.82006084970825
--------------------------------------------------
52     151
54     151
86     151
171    151
248    151
Name: owner_district_no_municipalities_0_499, dtype: int64
--------------------------------------------------
Outliers of owner_district_no_municipalities_2000_9999 - mean: 5.615853658536586 - std: 4.497229035062502
--------------------------------------------------
56     20
104    20
106    20
Name: owner_district_no_municipalities_2000_9999, dtype: int64
--------------------------------------------------
Outliers of owner_district_no_municipalities_10000_plus - mean: 1.673780487804878 - std: 1.092222311884515
--------------------------------------------------
91     5
117    5
145    5
216    5
230    5
238    5
241    5
303    5
304    5
325    5
Name: owner_district_no_municipalities_10000_plus, dtype: int64
--------------------------------------------------
Outliers of count_trans_credits - mean: 30.414634146341463 - std: 15.427804614313203
--------------------------------------------------
250    82
290    84
Name: count_trans_credits, dtype: int64
--------------------------------------------------
Outliers of count_trans_withdrawals - mean: 44.26219512195122 - std: 31.056299435319808
--------------------------------------------------
252    141
Name: count_trans_withdrawals, dtype: int64
--------------------------------------------------
Outliers of count_trans_credit_cash - mean: 13.737804878048781 - std: 11.178213194092136
--------------------------------------------------
153    50
167    48
196    49
302    50
Name: count_trans_credit_cash, dtype: int64
--------------------------------------------------
Outliers of count_trans_withdrawal_card - mean: 0.0701219512195122 - std: 0.5888546783181915
--------------------------------------------------
33     5
88     2
252    8
271    2
321    4
Name: count_trans_withdrawal_card, dtype: int64
--------------------------------------------------
Outliers of count_trans_collection_other_bank - mean: 3.472560975609756 - std: 6.109538601471972
--------------------------------------------------
126    22
154    23
163    22
188    22
218    23
271    22
293    22
Name: count_trans_collection_other_bank, dtype: int64
--------------------------------------------------
Outliers of count_trans_remittance_other_bank - mean: 9.246951219512194 - std: 13.41857275018649
--------------------------------------------------
93     61
131    52
163    51
213    55
252    68
253    64
289    54
Name: count_trans_remittance_other_bank, dtype: int64
--------------------------------------------------
Outliers of count_trans_ksymbol_interest_credited - mean: 13.204268292682928 - std: 7.773418602637813
--------------------------------------------------
91     37
140    38
168    40
250    42
290    57
323    44
Name: count_trans_ksymbol_interest_credited, dtype: int64
--------------------------------------------------
Outliers of count_trans_ksymbol_sanction_interest_if_negative_balance - mean: 0.11585365853658537 - std: 0.6626735788430576
--------------------------------------------------
55     6
62     3
95     3
135    5
251    6
277    4
Name: count_trans_ksymbol_sanction_interest_if_negative_balance, dtype: int64
--------------------------------------------------
Outliers of last_trans_balance - mean: 42185.58262195121 - std: 22538.574663528718
--------------------------------------------------
12     121570.3
194    132316.8
247    113931.6
273    117238.7
275    123310.1
Name: last_trans_balance, dtype: float64
--------------------------------------------------
Outliers of mean_trans_amount_absolute - mean: 9533.910833232612 - std: 4221.392649222007
--------------------------------------------------
86     24948.656250
189    24426.472222
Name: mean_trans_amount_absolute, dtype: float64
--------------------------------------------------
Outliers of mean_trans_amount_withdrawal - mean: 8372.823364174448 - std: 4395.28574890959
--------------------------------------------------
43     22822.222222
86     25786.000000
189    29640.857143
190    25000.000000
219    22066.666667
249    21900.000000
264    22425.466667
Name: mean_trans_amount_withdrawal, dtype: float64
--------------------------------------------------
Outliers of mean_trans_amount_signed - mean: 985.3871366717316 - std: 1093.439739665358
--------------------------------------------------
0      5025.000000
61     4345.040000
86     5609.156250
94     4500.000000
102    4925.442857
219    4974.625000
254    4723.980000
265    4975.920000
275    4928.344444
282    4492.235714
Name: mean_trans_amount_signed, dtype: float64

In [26]:
outliers_ids = set([val for key in outliers.keys() for val in outliers[key]['Id']])
outlier_ratio = len(outliers_ids) / len(data)
outlier_ratio

0.25914634146341464

In [32]:
data

,Id,loan_date,loan_duration,loan_payments,Predicted,account_frequency,account_district_region,account_district_no_inhabitants,account_district_no_municipalities_0_499,account_district_no_municipalities_500_1999,...,last_trans_balance,mean_trans_balance,mean_trans_amount_absolute,mean_trans_amount_credit,mean_trans_amount_withdrawal,mean_trans_amount_signed,owner_male,owner_age,account_age_months,has_disponent
0,5314,930705,12,8033,1.0,1,7,94812,15,13,...,20100.0,12250.000000,5025.000000,5025.000000,NaN,5025.000000,0,45,3,0
1,5316,930711,36,4610,0.0,2,3,112709,48,20,...,52208.9,52083.859459,11015.635135,13523.158824,8884.240000,1411.051351,1,24,4,0
2,6863,930728,60,2118,0.0,2,3,77917,85,19,...,20272.8,30060.954167,5417.458333,5009.733333,6097.000000,844.708333,1,57,5,0
3,5325,930803,36,2939,0.0,2,2,107870,84,29,...,34307.3,41297.480000,8253.080000,9254.600000,7168.100000,1371.704000,0,53,6,0
4,7240,930906,60,4579,0.0,1,4,1204953,0,0,...,41112.9,57188.211111,18945.966667,21255.930769,16801.000000,1522.707407,1,14,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,6818,961212,48,3242,0.0,2,1,226122,32,50,...,60694.1,44197.509884,4895.974419,6448.582857,3830.458824,352.872093,0,25,22,1
324,5625,961215,60,3703,1.0,2,7,45714,52,10,...,59578.8,55230.444068,11725.494915,13417.557143,10197.180645,1009.813559,1,57,12,0
325,6805,961221,48,938,0.0,2,1,285387,0,2,...,38384.3,41994.907692,7779.815385,8544.930000,6974.431579,984.215385,0,39,7,0
326,7233,961225,36,3217,0.0,2,6,93931,74,21,...,41878.1,56646.516129,13280.084677,16554.986275,10992.139726,337.726613,1,43,19,0
327,7308,961227,24,5392,0.0,2,1,106054,38,25,...,24199.5,30869.781308,4550.302804,8811.758621,2965.915385,226.164486,0,34,14,0

In [29]:
manual_outlier_df = data.loc[~data['Id'].isin(outliers_ids)]
manual_outlier_df

,Id,loan_date,loan_duration,loan_payments,Predicted,account_frequency,account_district_region,account_district_no_inhabitants,account_district_no_municipalities_0_499,account_district_no_municipalities_500_1999,...,last_trans_balance,mean_trans_balance,mean_trans_amount_absolute,mean_trans_amount_credit,mean_trans_amount_withdrawal,mean_trans_amount_signed,owner_male,owner_age,account_age_months,has_disponent
1,5316,930711,36,4610,0.0,2,3,112709,48,20,...,52208.9,52083.859459,11015.635135,13523.158824,8884.240000,1411.051351,1,24,4,0
2,6863,930728,60,2118,0.0,2,3,77917,85,19,...,20272.8,30060.954167,5417.458333,5009.733333,6097.000000,844.708333,1,57,5,0
3,5325,930803,36,2939,0.0,2,2,107870,84,29,...,34307.3,41297.480000,8253.080000,9254.600000,7168.100000,1371.704000,0,53,6,0
4,7240,930906,60,4579,0.0,1,4,1204953,0,0,...,41112.9,57188.211111,18945.966667,21255.930769,16801.000000,1522.707407,1,14,6,0
5,6687,930913,24,3660,0.0,2,2,53921,61,22,...,43847.8,46318.552941,9496.929412,7331.985714,19600.000000,2579.282353,0,13,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,5388,961128,12,5130,0.0,1,7,51313,34,12,...,20051.1,32967.712676,9739.397183,16171.554545,6851.489796,282.411268,1,53,10,0
320,5591,961204,48,3242,0.0,2,2,92084,55,29,...,24447.1,39426.070000,9151.153333,9343.175000,8931.700000,814.900000,0,37,7,0
324,5625,961215,60,3703,1.0,2,7,45714,52,10,...,59578.8,55230.444068,11725.494915,13417.557143,10197.180645,1009.813559,1,57,12,0
326,7233,961225,36,3217,0.0,2,6,93931,74,21,...,41878.1,56646.516129,13280.084677,16554.986275,10992.139726,337.726613,1,43,19,0
327,7308,961227,24,5392,0.0,2,1,106054,38,25,...,24199.5,30869.781308,4550.302804,8811.758621,2965.915385,226.164486,0,34,14,0

# Automatic Outlier Detection

In [37]:
from sklearn.ensemble import IsolationForest
from sklearn.svm import OneClassSVM
from sklearn.neighbors import LocalOutlierFactor
from sklearn.covariance import EllipticEnvelope

In [41]:
import sys
import os

In [45]:
df = pd.read_csv(
    f'output\\loan_full_dataset.csv', sep=";")
df.head()

  loan_id;account_id;date;amount;duration;payments;status
0                   5314;1787;930705;96396;12;8033;B
1                  5316;1801;930711;165960;36;4610;A
2                  6863;9188;930728;127080;60;2118;A
3                  5325;1843;930803;105804;36;2939;A
4                 7240;11013;930906;274740;60;4579;A

## Isolation Forest

In [38]:
# identify outliers in the training dataset
iso = IsolationForest()
yhat = iso.fit_predict(data)
mask = yhat != -1
no_outlier_iso = data[mask, :]
no_outlier_iso

ValueError: Input X contains NaN.
IsolationForest does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

# Dataset without Outliers