In [1]:
DATA_ROOT_FOLDER = "data/"
ACCOUNT_FILENAME = DATA_ROOT_FOLDER + "account.csv"
CLIENT_FILENAME = DATA_ROOT_FOLDER + "client.csv"
DISP_FILENAME = DATA_ROOT_FOLDER + "disp.csv"
DISTRICT_FILENAME = DATA_ROOT_FOLDER + "district.csv"

CARD_FILENAME = DATA_ROOT_FOLDER + "card_dev.csv"
TRANSACTION_FILENAME = DATA_ROOT_FOLDER + "trans_dev.csv"
LOAN_FILENAME = DATA_ROOT_FOLDER + "loan_dev.csv"

AMOUNT_ACCOUNTS = 4500
AMOUNT_CLIENTS = 5369
AMOUNT_DISPOSITIONS = 5369
AMOUNT_DISTRICTS = 77

AMOUNT_CARDS = 892
AMOUNT_TRANSACTIONS = 1056320
AMOUNT_LOANS = 682

AMOUNT_ORDERS = 6471

In [6]:
import pandas as pd

table_filenames = [ACCOUNT_FILENAME, CLIENT_FILENAME, DISP_FILENAME, DISTRICT_FILENAME, CARD_FILENAME, TRANSACTION_FILENAME, LOAN_FILENAME]
table_amounts = [AMOUNT_ACCOUNTS, AMOUNT_CLIENTS, AMOUNT_DISPOSITIONS, AMOUNT_DISTRICTS, AMOUNT_CARDS, AMOUNT_TRANSACTIONS, AMOUNT_LOANS]
table_names = ["account", "client", "disp", "district", "card", "transaction", "loan"]
tables = [pd.read_csv(filename, sep=";") for filename in table_filenames]

C:\Users\PedroGoncaloCorreia\AppData\Local\Temp\ipykernel_14240\2696729588.py:6: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  tables = [pd.read_csv(filename, sep=";") for filename in table_filenames]

In [16]:
for table, amount, name in zip(tables, table_amounts, table_names):
    found = len(table)
    fraction_missing = (amount-found) / amount
    print(f"{name} has {found}/{amount} objects (missing {fraction_missing*100:.2f}%)")
print(f"orders file doesn't exist")

account has 4500/4500 objects (missing 0.00%)
client has 5369/5369 objects (missing 0.00%)
disp has 5369/5369 objects (missing 0.00%)
district has 77/77 objects (missing 0.00%)
card has 177/892 objects (missing 80.16%)
transaction has 396685/1056320 objects (missing 62.45%)
loan has 328/682 objects (missing 51.91%)
orders file doesn't exist

Table account has columns ['account_id', 'district_id', 'frequency', 'date']
	Column frequency can have values ['monthly issuance' 'issuance after transaction' 'weekly issuance']
====================
Table client has columns ['client_id', 'birth_number', 'district_id']
====================
Table disp has columns ['disp_id', 'client_id', 'account_id', 'type']
	Column type can have values ['OWNER' 'DISPONENT']
====================
Table district has columns ['code ', 'name ', 'region', 'no. of inhabitants', 'no. of municipalities with inhabitants < 499 ', 'no. of municipalities with inhabitants 500-1999', 'no. of municipalities with inhabitants 2000-9999 ', 'no. of municipalities with inhabitants >10000 ', 'no. of cities ', 'ratio of urban inhabitants ', 'average salary ', "unemploymant rate '95 ", "unemploymant rate '96 ", 'no. of enterpreneurs per 1000 inhabitants ', "no. of commited crimes '95 ", "no. of commited crimes '96 "]
	Column region can have values ['Prague' 'central Bohemia' 'south Bohemia' 'west Bohemia' 'north Bohemia'
 'east Bohemia' 'south Moravia' 'north Moravia']
	Column no. of municipalities with inhabitants >10000  can have values [1 2 3 0 4 5]
====================
Table card has columns ['card_id', 'disp_id', 'type', 'issued']
	Column type can have values ['classic' 'junior' 'gold']
====================
Table transaction has columns ['trans_id', 'account_id', 'date', 'type', 'operation', 'amount', 'balance', 'k_symbol', 'bank', 'account']
	Column type can have values ['credit' 'withdrawal' 'withdrawal in cash']
	Column operation can have values ['credit in cash' 'collection from another bank' nan 'withdrawal in cash'
 'remittance to another bank' 'credit card withdrawal']
	Column k_symbol can have values [nan 'interest credited' ' ' 'household' 'payment for statement'
 'insurrance payment' 'sanction interest if negative balance'
 'old-age pension']
====================
Table loan has columns ['loan_id', 'account_id', 'date', 'amount', 'duration', 'payments', 'status']
	Column duration can have values [12 36 60 24 48]
	Column status can have values [-1  1]
====================

In [33]:
print("amount = duration * payments:")
(tables[6]['amount'] == tables[6]['duration']*tables[6]['payments']).all()

amount = duration * payments:

True

In [38]:
tables[2][tables[2]['disp_id'] - tables[2]['client_id'] != 0]

      disp_id  client_id  account_id       type
4987     8865       9173        7401      OWNER
4988     8866       9174        7401  DISPONENT
4989     8888       9196        7418      OWNER
4990     8894       9202        7424      OWNER
4991     8909       9217        7437      OWNER
...       ...        ...         ...        ...
5364    13647      13955       11349      OWNER
5365    13648      13956       11349  DISPONENT
5366    13660      13968       11359      OWNER
5367    13663      13971       11362      OWNER
5368    13690      13998       11382      OWNER

[382 rows x 4 columns]